
@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<div class="row"  >
    <table class="table table-condensed table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Speaker</th>
            <th>Venue</th>
            <th>Duration</th>
        </tr>
        <tr ng-repeat="talk in model.talks">
            <td> {{talk.id}}</td>
            <td> {{talk.name}}</td>
            <td> {{talk.speaker}}</td>
            <td> {{talk.venue}}</td>
            <td> {{talk.duration}}</td>
        </tr>
    </table>

</div>